.b-dotted { border-style: dotted; }
.b-dashed { border-style: dashed; }
.b-solid { border-style: solid; }
.b-double { border-style: double; }
.b-groove { border-style: groove; }
.b-ridge { border-style: ridge; }
.b-outset { border-style: outset; }
.b-none { border-style: none;	 }
.b-mix { border-style: dotted dashed solid double; }

.bt { border-top: $default-border; }
.bb { border-bottom: $default-border; }
.bl { border-left: $default-border; }
.br { border-right: $default-border; }

.border {
	@extend .bt;
	@extend .bb;
	@extend .bl;
	@extend .br;
}

.bl-nav-red { border-left: 5px solid #ff7272; }
.bl-nav-green { border-left: 5px solid #57d483; }
.bl-nav-blue { border-left: 5px solid #55b8ff; }


// BORDER WIDTH
// ---------------------------------------------------------------------------------
// SAMPLE OUTPUT: 
// .b-1 { border-width: 1px; }
// .bt-1 { border-top: 1px; }
// .bb-1 { border-bottom: 1px; }
// .bl-1 { border-left: 1px; }
// .br-1 { border-right: 1px; }
$class-border-width: b- !default;
$class-border-top: bt- !default;
$class-border-bottom: bb- !default;
$class-border-left: bl- !default;
$class-border-right: br- !default;

@for $i from $min-bw through $max-bw { //for $min-bw & $max-bw value please refer to _variables.scss
	.#{$class-border-width}#{$i} { border-width: #{$i}px; }
	.#{$class-border-top}#{$i} { border-top: #{$i}px; }
	.#{$class-border-bottom}#{$i} { border-bottom: #{$i}px; }
	.#{$class-border-left}#{$i} { border-left: #{$i}px; }
	.#{$class-border-right}#{$i} { border-right: #{$i}px; }
}
// ---------------------------------------------------------------------------------


// BORDER RADIUS
// ---------------------------------------------------------------------------------
// SAMPLE OUTPUT: 
// .b-rad1 { border-radius: 1px; }
// .b-tl-rad1 { border-top-left-radius: 1px; }
// .b-tr-rad1 { border-top-right-radius: 1px; }
// .b-bl-rad1 { border-bottom-left-radius: 1px; }
// .b-br-rad1 { border-bottom-right-radius: 1px; }
$class-border-Radius: b-rad !default;
$class-border-tlRadius: b-tl-rad !default;	//class name
$class-border-trRadius: b-tr-rad !default;	//class name
$class-border-blRadius: b-bl-rad !default;	//class name
$class-border-brRadius: b-br-rad !default;	//class name

@for $i from $min-br through $max-br { //for $min-br & $max-br value please refer to _variables.scss
	.#{$class-border-Radius}#{$i} { border-radius: #{$i}px; }
	.#{$class-border-tlRadius}#{$i} { border-top-left-radius: #{$i}px; }
	.#{$class-border-trRadius}#{$i} { border-top-right-radius: #{$i}px; }
	.#{$class-border-blRadius}#{$i} { border-bottom-left-radius: #{$i}px; }
	.#{$class-border-brRadius}#{$i} { border-bottom-right-radius: #{$i}px; }
}
// ---------------------------------------------------------------------------------


// Custom Border Radius
// $custom-mt:(Class name, amount),(n, n);
// ---------------------------------------------------------------------------------
$custom-br:(b-radmax,150rem),(b-rad-50,50rem),(b-rad-25,25rem);
@each $class, $val in $custom-br {
	.#{$class} { border-radius: $val; }
}
// ---------------------------------------------------------------------------------



