
// border 1, 2, 3

.b-dotted {	border-style: dotted;	}
.b-dashed {	border-style: dashed;	}
.b-solid {	border-style: solid;	}
.b-double {	border-style: double;	}
.b-groove {	border-style: groove;	}
.b-ridge {	border-style: ridge;	}
.b-outset {	border-style: outset;	}
.b-none {	border-style: none;		}
.b-mix {	border-style: dotted dashed solid double;	}


.b-1{ border-width: 1px; }
.b-2{ border-width: 2px; }
.b-3{ border-width: 3px; }

.bt-0 { border-top: 0px; }
.bt-1 { border-top: 1px; }
.bt-2 { border-top: 2px; }
.bt-3 { border-top: 3px; }

.bb-0 { border-bottom: 0px; }
.bb-1 { border-bottom: 1px; }
.bb-2 { border-bottom: 2px; }
.bb-3 { border-bottom: 3px; }

.bl-0 { border-left: 0px; }
.bl-1 { border-left: 1px; }
.bl-2 { border-left: 2px; }
.bl-3 { border-left: 3px; }

.br-0 { border-right: 0px; }
.br-1 { border-right: 1px; }
.br-2 { border-right: 2px; }
.br-3 { border-right: 3px; }

.bt { border-top: solid 1px #E9E9E9; }
.bb { border-bottom: solid 1px #E9E9E9; }
.bl { border-left: solid 1px #E9E9E9; }
.br { border-right: solid 1px #E9E9E9; }


.shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
}

html, body {
	background-color: #E9E9E9;
}