$b-dotted: dotted;
$b-dashed: dashed;
$b-solid: solid;
$b-double: double;
$b-groove: groove;
$b-ridge:  ridge;
$b-outset: outset;
$b-none:  none;
$b-mix: dotted dashed solid double;

.bt { border-top: $default-border; }
.bb { border-bottom: $default-border; }
.bl { border-left: $default-border; }
.br { border-right: $default-border; }

.border {
	@extend .bt;
	@extend .bb;
	@extend .bl;
	@extend .br;
}

.bl-nav-red { border-left: 5px solid #ff7272; }
.bl-nav-green { border-left: 5px solid #57d483; }
.bl-nav-blue { border-left: 5px solid #55b8ff; }


// BORDER WIDTH
// ---------------------------------------------------------------------------------
// SAMPLE OUTPUT: 
// .b-1 { border-width: 1px; }
// .bt-1 { border-top: 1px; }
// .bb-1 { border-bottom: 1px; }
// .bl-1 { border-left: 1px; }
// .br-1 { border-right: 1px; }
$class-border-width: b- !default;
$class-border-top: bt- !default;
$class-border-bottom: bb- !default;
$class-border-left: bl- !default;
$class-border-right: br- !default;

@for $i from $min-bw through $max-bw { //for $min-bw & $max-bw value please refer to _variables.scss
	.#{$class-border-width}#{$i} { border-width: #{$i}px; }
	.#{$class-border-top}#{$i} { border-top: #{$i}px solid inherit; }
	.#{$class-border-bottom}#{$i} { border-bottom: #{$i}px solid inherit; }
	.#{$class-border-left}#{$i} { border-left: #{$i}px; }
	.#{$class-border-right}#{$i} { border-right: #{$i}px; }
}
// ---------------------------------------------------------------------------------

// Custom Border width
// $custom-bw:(Class name, amount),(n, n);
// ---------------------------------------------------------------------------------
$custom-bw:(b-8,8px,$b-solid,#777),(b-88,10px,dotted,#999);
@each $class, $val,$style,$color in $custom-bw {
	.#{$class} { border: $val $style $color; }
}
// ---------------------------------------------------------------------------------

// Custom Top Border width
// $custom-btw:(Class name, amount),(n, n);
// ---------------------------------------------------------------------------------
$custom-btw:(bt-8,8px,$b-solid,#777),(bt-88,10px,dotted,#999),(bt-1,1px,$b-solid,#777);
@each $class, $val,$style,$color in $custom-btw {
	.#{$class} { border-top: $val $style $color; }
}
// ---------------------------------------------------------------------------------

// Custom Left Border width
// $custom-blw:(Class name, amount),(n, n);
// ---------------------------------------------------------------------------------
$custom-blw:(bl-8,8px,$b-solid,#777),(bl-88,10px,$b-dotted,#999);
@each $class, $val,$style,$color in $custom-blw {
	.#{$class} { border-left: $val $style $color; }
}
// ---------------------------------------------------------------------------------

// Custom Right Border width
// $custom-brw:(Class name, amount),(n, n);
// ---------------------------------------------------------------------------------
$custom-brw:(br-8,8px,$b-solid,#777),(br-88,10px,$b-dotted#999);
@each $class, $val,$style,$color in $custom-brw {
	.#{$class} { border-right: $val $style $color; }
}
// ---------------------------------------------------------------------------------

// Custom Bottom Border width
// $custom-bbw:(Class name, amount),(n, n);
// ---------------------------------------------------------------------------------
$custom-bbw:(bb-8,8px,solid,#777),(bb-88,10px,dotted,#999),(bt-1,1px,$b-solid,#777);
@each $class, $val,$style,$color in $custom-bbw {
	.#{$class} { border-bottom: $val $style $color; }
}
// ---------------------------------------------------------------------------------

// BORDER RADIUS
// ---------------------------------------------------------------------------------
// SAMPLE OUTPUT: 
// .b-rad1 { border-radius: 1px; }
// .b-tl-rad1 { border-top-left-radius: 1px; }
// .b-tr-rad1 { border-top-right-radius: 1px; }
// .b-bl-rad1 { border-bottom-left-radius: 1px; }
// .b-br-rad1 { border-bottom-right-radius: 1px; }
$class-border-Radius: b-rad !default;
$class-border-tlRadius: b-tl-rad !default;	//class name
$class-border-trRadius: b-tr-rad !default;	//class name
$class-border-blRadius: b-bl-rad !default;	//class name
$class-border-brRadius: b-br-rad !default;	//class name

@for $i from $min-br through $max-br { //for $min-br & $max-br value please refer to _variables.scss
	.#{$class-border-Radius}#{$i} { border-radius: #{$i}px; }
	.#{$class-border-tlRadius}#{$i} { border-top-left-radius: #{$i}px; }
	.#{$class-border-trRadius}#{$i} { border-top-right-radius: #{$i}px; }
	.#{$class-border-blRadius}#{$i} { border-bottom-left-radius: #{$i}px; }
	.#{$class-border-brRadius}#{$i} { border-bottom-right-radius: #{$i}px; }
}
// ---------------------------------------------------------------------------------


// Custom Border Radius
// $custom-mt:(Class name, amount),(n, n);
// ---------------------------------------------------------------------------------
$custom-br:(b-radmax,150px),(b-rad-50,50rem),(b-rad-25,25rem);
@each $class, $val in $custom-br {
	.#{$class} { border-radius: $val; }
}
// ---------------------------------------------------------------------------------



















