
// border 1, 2, 3

.b-dotted { border-style: dotted; }
.b-dashed { border-style: dashed; }
.b-solid { border-style: solid; }
.b-double { border-style: double; }
.b-groove { border-style: groove; }
.b-ridge { border-style: ridge; }
.b-outset { border-style: outset; }
.b-none { border-style: none;	 }
.b-mix { border-style: dotted dashed solid double; }

.bt { border-top: $default-border; }
.bb { border-bottom: $default-border; }
.bl { border-left: $default-border; }
.br { border-right: $default-border; }

.border {
	@extend .bt;
	@extend .bb;
	@extend .bl;
	@extend .br;
}

// BORDER WIDTH
// ---------------------------------------------------------------------------------
// Border width of all sides
// SAMPLE OUTPUT: 
// .b-1{ border-width: 1px; }
$class-border-width: b- !default;	//class name
@for $i from $min-bw through $max-bw {
	.#{$class-border-width}#{$i}{	//class name + variable 
		border-width: #{$i}px;
	}
}

// Border top width
// SAMPLE OUTPUT: 
// .bt-1{ border-top: 1px; }
$class-border-top: bt- !default;	//class name
@for $i from $min-bw through $max-bw {
	.#{$class-border-top}#{$i}{	//class name + variable 
		border-top: #{$i}px;
	}
}

// Border bottom width
// SAMPLE OUTPUT: 
// .bt-1{ border-bottom: 1px; }
$class-border-bottom: bb- !default;	//class name
@for $i from $min-bw through $max-bw {
	.#{$class-border-bottom}#{$i}{	//class name + variable 
		border-bottom: #{$i}px;
	}
}

// Border left width
// SAMPLE OUTPUT: 
// .bt-1{ border-left: 1px; }
$class-border-left: bl- !default;	//class name
@for $i from $min-bw through $max-bw {
	.#{$class-border-left}#{$i}{	//class name + variable 
		border-left: #{$i}px;
	}
}

// Border right width
// SAMPLE OUTPUT: 
// .bt-1{ border-right: 1px; }
$class-border-right: br- !default;	//class name
@for $i from $min-bw through $max-bw {
	.#{$class-border-right}#{$i}{	//class name + variable 
		border-right: #{$i}px;
	}
}
// ---------------------------------------------------------------------------------


// BORDER RADIUS
// ---------------------------------------------------------------------------------
// Radius all sides
// SAMPLE OUTPUT: 
// .b-rad1 { border-radius: 1px; }
$class-border-Radius: b-rad !default;	//class name
@for $i from $min-br through $max-br {
	.#{$class-border-Radius}#{$i}{	//class name + variable 
		border-radius: #{$i}px;
	}
}

// Radius top left
// SAMPLE OUTPUT: 
// .b-tl-rad1 { border-top-left-radius:1px; }
$class-border-tlRadius: b-tl-rad !default;	//class name
@for $i from $min-br through $max-br {
	.#{$class-border-tlRadius}#{$i}{	//class name + variable 
		border-top-left-radius: #{$i}px;
	}
}

// Radius top right
// SAMPLE OUTPUT: 
// .b-tr-rad1 { border-top-right-radius:1px; }
$class-border-trRadius: b-tr-rad !default;	//class name
@for $i from $min-br through $max-br {
	.#{$class-border-trRadius}#{$i}{	//class name + variable 
		border-top-right-radius: #{$i}px;
	}
}

// Radius bottom left
// SAMPLE OUTPUT: 
// .b-bl-rad1 { border-bottom-left-radius:1px; }
$class-border-blRadius: b-bl-rad !default;	//class name
@for $i from $min-br through $max-br {
	.#{$class-border-blRadius}#{$i}{	//class name + variable 
		border-bottom-left-radius: #{$i}px;
	}
}

// Radius bottom right
// SAMPLE OUTPUT: 
// .b-br-rad1 { border-bottom-right-radius:1px; }
$class-border-brRadius: b-br-rad !default;	//class name
@for $i from $min-br through $max-br {
	.#{$class-border-brRadius}#{$i}{	//class name + variable 
		border-bottom-right-radius: #{$i}px;
	}
}
// ---------------------------------------------------------------------------------


.b-radmax { border-radius: 150px; }




