
// border 1, 2, 3

.b-dotted { border-style: dotted; }
.b-dashed { border-style: dashed; }
.b-solid { border-style: solid; }
.b-double { border-style: double; }
.b-groove { border-style: groove; }
.b-ridge { border-style: ridge; }
.b-outset { border-style: outset; }
.b-none { border-style: none;	 }
.b-mix { border-style: dotted dashed solid double; }


.b-1{ border-width: 1px; }
.b-2{ border-width: 2px; }
.b-3{ border-width: 3px; }
.b-4{ border-width: 4px; }
.b-5{ border-width: 5px; }
.b-8{ border-width: 8px; }

.bt-0 { border-top: 0px; }
.bt-1 { border-top: 1px; }
.bt-2 { border-top: 2px; }
.bt-3 { border-top: 3px; }
.bt-4 { border-top: 4px; }
.bt-5 { border-top: 5px; }

.bb-0 { border-bottom: 0px; }
.bb-1 { border-bottom: 1px; }
.bb-2 { border-bottom: 2px; }
.bb-3 { border-bottom: 3px; }
.bb-4 { border-bottom: 4px; }
.bb-5 { border-bottom: 5px; }

.bl-0 { border-left: 0px; }
.bl-1 { border-left: 1px; }
.bl-2 { border-left: 2px; }
.bl-3 { border-left: 3px; }
.bl-4 { border-left: 4px; }
.bl-5 { border-left: 5px; }

.br-0 { border-right: 0px; }
.br-1 { border-right: 1px; }
.br-2 { border-right: 2px; }
.br-3 { border-right: 3px; }
.br-4 { border-right: 4px; }
.br-5 { border-right: 5px; }

.bt { border-top: solid 1px #E9E9E9; }
.bb { border-bottom: solid 1px #E9E9E9; }
.bl { border-left: solid 1px #E9E9E9; }
.br { border-right: solid 1px #E9E9E9; }

.border {
	@extend .bt;
	@extend .bb;
	@extend .bl;
	@extend .br;
}

.b-tl-rad1 { border-top-left-radius:1px; }
.b-tl-rad2 { border-top-left-radius:2px; }
.b-tl-rad3 { border-top-left-radius:3px; }
.b-tl-rad4 { border-top-left-radius:4px; }
.b-tl-rad5 { border-top-left-radius:5px; }

.b-tr-rad1 { border-top-right-radius:1px; }
.b-tr-rad2 { border-top-right-radius:2px; }
.b-tr-rad3 { border-top-right-radius:3px; }
.b-tr-rad4 { border-top-right-radius:4px; }
.b-tr-rad5 { border-top-right-radius:5px; }

.b-bl-rad1 { border-bottom-left-radius:1px; }
.b-bl-rad2 { border-bottom-left-radius:2px; }
.b-bl-rad3 { border-bottom-left-radius:3px; }
.b-bl-rad4 { border-bottom-left-radius:4px; }
.b-bl-rad5 { border-bottom-left-radius:5px; }

.b-br-rad1 { border-bottom-right-radius:1px; }
.b-br-rad2 { border-bottom-right-radius:2px; }
.b-br-rad3 { border-bottom-right-radius:3px; }
.b-br-rad4 { border-bottom-right-radius:4px; }
.b-br-rad5 { border-bottom-right-radius:5px; }

.b-rad1 { border-radius: 1px; }
.b-rad2 { border-radius: 2px; }
.b-rad3 { border-radius: 3px; }
.b-rad4 { border-radius: 4px; }
.b-rad5 { border-radius: 5px; }
.b-radmax { border-radius: 150px; }


.shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
}

html, body {
	background-color: #f7f7f7;
}