
.button-round, .button-radius, .banner-button {
	@extend .button;
}

.button-round, .banner-button-round {
	@extend .b-radmax;
}

.button-radius, .banner-button-radius {
	@extend .b-rad5;
}


// Banner Button
.banner-button-radius, .banner-button-round, .banner-button {
	@extend .large;
	@extend #typo-secondary;
	@extend .semibold;
	@extend .pl-2; @extend .pr-2;
	padding-top: 14px;
	padding-bottom: 14px;
}

.liner {
	background-color: transparent !important;
	border-color: $primary !important;
	color: $primary !important;
	@extend .b-2;
	box-sizing: border-box;
	transition: background-color .50s;

	&:hover {
		transition: background-color .50s;
		background-color: $primary !important;
		color: #fff !important;
		border-color: transparent !important;
	}
}




