// Getting the default button style
.button-round, .button-radius, .banner-button {
	@extend .button;
}

// Made your button round corner
.button-round, .banner-button-round {
	@extend .b-radmax;
}

// Made your button radius tip
.button-radius, .banner-button-radius {
	@extend .b-rad5;
}


// Custom Banner Button
.banner-button-round, .banner-button-radius {
	@extend .banner-button;
}

.banner-button {
	@extend .large;
	@extend #typo-secondary;
	@extend .semibold;
	@extend .pl-2; @extend .pr-2;
	padding-top: 14px;
	padding-bottom: 14px;
}


 // Custom Style : Liner and Liner Reverse
.liner, .liner-reverse {
	@extend .b-2;
}

.liner:hover {
	background-color: $primary !important;
	color: #fff !important;
	border-color: transparent !important;
}

.liner, .liner-reverse:hover {
	background-color: transparent !important;
	border-color: $primary !important;
	color: $primary !important;
}

.liner, .liner:hover, .liner-reverse:hover {
	transition: background-color .3s;
}


 // Custom Style : Slice and Slice Reverse
.slice {
	background-color: $primary !important;
	color: #fff !important;
	border-color: $primary !important;
	&:hover {
		background-color: #fff;
		background-image: -webkit-linear-gradient(135deg, transparent 5%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 95%, transparent 50%);
		color: $primary !important;
		animation-name: animate;
		animation-duration: .35s;
		transition: all .35s ease-in-out;
	}
}

.slice, .slice-reverse {
	transition: all .35s ease-in-out;
	padding: auto 5rem;
	@extend .b-2;
	&:hover {
		transition: all .35s ease-in-out;
	}
}


@-webkit-Keyframes animate {
	10% {background-image: -webkit-linear-gradient(135deg, transparent 45%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 55%, transparent 0%);}
	20% {background-image: -webkit-linear-gradient(135deg, transparent 40%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 60%, transparent 0%);}
	30% {background-image: -webkit-linear-gradient(135deg, transparent 35%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 65%, transparent 0%);}
	40% {background-image: -webkit-linear-gradient(135deg, transparent 30%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 70%, transparent 0%);}
	55% {background-image: -webkit-linear-gradient(135deg, transparent 25%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 75%, transparent 0%);}
	65% {background-image: -webkit-linear-gradient(135deg, transparent 20%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 80%, transparent 0%);}
	75% {background-image: -webkit-linear-gradient(135deg, transparent 15%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 85%, transparent 0%);}
	85% {background-image: -webkit-linear-gradient(135deg, transparent 10%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 90%, transparent 0%);}
	100% {background-image: -webkit-linear-gradient(135deg, transparent 5%, rgba(255, 255, 255, 50) 0%, rgba(255, 255, 255, 50) 95%, transparent 0%);}
}

.slice-reverse {
	background-color: #fff !important;
	color: $primary !important;
	border-color: $primary !important;
	&:hover {
		background-color: $primary;
		background-image: -webkit-linear-gradient(135deg, transparent 5%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 95%, transparent 50%);;
		color: #fff !important;
		animation-name: animatereverse;
		animation-duration: .35s;
		transition: all .35s ease-in-out;
	}
}

@-webkit-Keyframes animatereverse {
	10% {background-image: -webkit-linear-gradient(135deg, transparent 45%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 55%, transparent 0%);}
	20% {background-image: -webkit-linear-gradient(135deg, transparent 40%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 60%, transparent 0%);}
	30% {background-image: -webkit-linear-gradient(135deg, transparent 35%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 65%, transparent 0%);}
	40% {background-image: -webkit-linear-gradient(135deg, transparent 30%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 70%, transparent 0%);}
	55% {background-image: -webkit-linear-gradient(135deg, transparent 25%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 75%, transparent 0%);}
	65% {background-image: -webkit-linear-gradient(135deg, transparent 20%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 80%, transparent 0%);}
	75% {background-image: -webkit-linear-gradient(135deg, transparent 15%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 85%, transparent 0%);}
	85% {background-image: -webkit-linear-gradient(135deg, transparent 10%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 90%, transparent 0%);}
	100% {background-image: -webkit-linear-gradient(135deg, transparent 5%, rgba(33, 153, 232, 50) 0%, rgba(33, 153, 232, 50) 95%, transparent 0%);}
}