

.txt-primary { color: $primary; }
.txt-secondary { color: $secondary; }
.txt-success { color: $success; }
.txt-warning { color: $warning; }
.txt-alert { color: $alert; }

.bg-primary { background-color: $primary; }
.bg-secondary { background-color: $secondary; }
.bg-success { background-color: $success; }
.bg-warning { background-color: $warning; }
.bg-alert { background-color: $alert; }


.bg-white { background-color: #fff; }
.bg-black { background-color: #000; }
.bg-grey { background-color: #808080; }
.custom-label{background-color: #777; color: #fff; font-size: .7rem; border-color: #777;}

.txt-white{ color: #fff; }
.txt-grey { color: #808080; }



// LIGHTEN
// ---------------------------------------------------------------------------------
// LIGHTEN COLOR by 10%,20%,30% and 40%(n)
// SAMPLE OUTPUT: 
// .bg-primary-light20 { background-color: lighten($primary, 20%) }
$class-bg-primary-light: bg-primary-light !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-primary-light}#{$i*10}{	//class name + variable i
		background-color: lighten($primary,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-secondary-light: bg-secondary-light !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-secondary-light}#{$i*10}{	//class name + variable i
		background-color: lighten($secondary,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-success: bg-success-light !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-success}#{$i*10}{	//class name + variable i
		background-color: lighten($success,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-warning: bg-warning-light !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-warning}#{$i*10}{	//class name + variable i
		background-color: lighten($warning,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-alert: bg-alert-light !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-alert}#{$i*10}{	//class name + variable i
		background-color: lighten($alert,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}
// ---------------------------------------------------------------------------------


// DARKEN
// ---------------------------------------------------------------------------------
// DARKEN COLOR by 10%,20%,30% and 40%
// SAMPLE OUTPUT: 
// .bg-primary-light20 { background-color: darken($primary, 20%) }
$class-bg-primary-dark: bg-primary-dark !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-primary-dark}#{$i*10}{	//class name + variable i
		background-color: darken($primary,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-secondary-dark: bg-secondary-dark !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-secondary-dark}#{$i*10}{	//class name + variable i
		background-color: darken($secondary,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-success-dark: bg-success-dark !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-success-dark}#{$i*10}{	//class name + variable i
		background-color: darken($success,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-warning-dark: bg-warning-dark !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-warning-dark}#{$i*10}{	//class name + variable i
		background-color: darken($warning,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}

$class-bg-alert-dark: bg-alert-dark !default;	//class name
@for $i from 1 through 4 {
	.#{$class-bg-alert-dark}#{$i*10}{	//class name + variable i
		background-color: darken($alert,$i*10); //adjust the color using percentage i*10 (eg. 3*10)
	}
}
// ---------------------------------------------------------------------------------













