// Styleguide template
.component-container {
	@extend .shadow; 
	@extend .bg-white;
	@extend .mb-2;

	.component-title {
		@extend .bb;
		@extend .padding-1;
		@extend .mb-1;
		font-weight: bold;
		font-family: robotto;
		font-size: 1.6rem;
	}

	.component-main {
		@extend .padding-1;
		@extend .mb-1;
	}

	.component-code {
		// @extend .padding-1;
		@extend .pt-1;
		@extend .pb-1;
		@extend .bt;
		div {
			// @extend .pr-half;
			@extend .br;
		}
	}
}