// Styleguide template
.component-container {
	@extend .shadow; 
	@extend .bg-white;
	@extend .mb-2;

	.component-title {
		@extend .bb;
		@extend .padding-1;
		@extend .mb-1;
		font-weight: bold;
		font-family: roboto;
		font-size: 1.6rem;
	}

	.component-main {
		@extend .padding-1;
		@extend .mb-1;
	}

	.component-code {
		// @extend .padding-1;
		@extend .pt-1;
		@extend .pb-1;
		@extend .bt;
		div {
			// @extend .pr-half;
			// @extend .br;

			h6 {
				// background-color: #f5f5f5;
				@extend .bg-primary;
				@extend .mb-0;
				@extend .txt-white;
				@extend .pl-half;
				@extend .pr-half;
				font-weight: bold;
				display: inline-block;
			}

			.component-code-container {
				background-color: #f1f1f1;
				@extend .padding-1;
				font-size: .9rem;
			}
		}
	}
}