$code-container-bc: #cacaca;

// Styleguide template
.component-container {
	@extend .ds-1;
	@extend .bg-white;
	@extend .mb-2;
	@extend .hoverable;

	.component-title {
		@extend .bb;
		@extend .padding-1;
		@extend .mb-1;
		font-weight: bold;
		font-family: roboto;
		font-size: 1.6rem;
	}

	.component-main {
		@extend .padding-1;
	}

	.component-code {
		@extend .pb-3;
		@extend .bb;
		div {
			h6 {
				@extend .bg-primary;
				@extend .mb-0;
				@extend .txt-white;
				@extend .pl-half;
				@extend .pr-half;
				font-weight: bold;
				display: inline-block;
			}

			.component-code-container {
				border: 1px solid $code-container-bc;
				@extend .padding-1;
				background-color: #f9f9f9;
				font-size: .9rem;
				// @extend .pt-0;
				// @extend .pb-1;
				// @extend .pl-1;
				// @extend .r-1;

				h6 {
					@extend .margin-0;
					@extend .bg-primary;
					@extend .mb-1;
					@extend .txt-white;
					@extend .pl-half;
					@extend .pr-half;
					font-weight: bold;
					display: inline-block;
				}
				&:last-child{
					@extend .padding-1;
				}

				.xmp {
						font-size: 13px;
						font-weight: 600;
					}
				// ----- to active scroll
				// max-height: 20rem;
				// overflow: auto;
			}
		}
	}
}