//Form Templates

.forms {
	@extend .padding-2;
}


input.primary{
	color: $primary;
	border-color: $primary;
	
	&[type="text"]:focus {		
		box-shadow: 0 2px 5px 0 rgba(33, 153, 232, 0.16), 0 2px 10px 0 rgba(33, 153, 232, 0.12);
		border-color: darken($primary, 10%);
	}

	&::-webkit-input-placeholder {
		color: darken($primary, 20%);
		opacity: .4;
	}

	&:-moz-placeholder {
		color: darken($primary, 20%);
		opacity: .4;
	}

	&::-moz-placeholder {
		color: darken($primary, 20%);
		opacity: .4;
	}
	&:-ms-input-placeholder {
		color: darken($primary, 20%);
		opacity: .4;
	}
	
	&:hover {
		@extend .ds-1;
	}
}

input.success{
	color: $success;
	border-color: $success;
	
	&[type="text"]:focus {		
		box-shadow: 0 2px 5px 0 rgba(58, 219, 118, 0.16), 0 2px 10px 0 rgba(58, 219, 118, 0.12);
		border-color: darken($success, 10%);
	}

	&::-webkit-input-placeholder {
		color: darken($success, 20%);
		opacity: .4;
	}

	&:-moz-placeholder {
		color: darken($success, 20%);
		opacity: .4;
	}

	&::-moz-placeholder {
		color: darken($success, 20%);
		opacity: .4;
	}
	&:-ms-input-placeholder {
		color: darken($success, 20%);
		opacity: .4;
	}
	
	&:hover {
		@extend .ds-1;
	}
}

input.warning{
	color: $warning;
	border-color: $warning;
	
	&[type="text"]:focus {		
		box-shadow: 0 2px 5px 0 rgba(255, 174, 0, 0.16), 0 2px 10px 0 rgba(255, 174, 0, 0.12);
		border-color: darken($warning, 10%);
	}

	&::-webkit-input-placeholder {
		color: darken($warning, 20%);
		opacity: .4;
	}

	&:-moz-placeholder {
		color: darken($warning, 20%);
		opacity: .4;
	}

	&::-moz-placeholder {
		color: darken($warning, 20%);
		opacity: .4;
	}
	&:-ms-input-placeholder {
		color: darken($warning, 20%);
		opacity: .4;
	}
	
	&:hover {
		@extend .ds-1;
	}
}

input.alert{
	color: $alert;
	border-color: $alert;
	
	&[type="text"]:focus {		
		box-shadow: 0 2px 5px 0 rgba(236, 88, 64, 0.16), 0 2px 10px 0 rgba(236, 88, 64, 0.12);
		border-color: darken($alert, 10%);
	}

	&::-webkit-input-placeholder {
		color: darken($alert, 20%);
		opacity: .4;
	}

	&:-moz-placeholder {
		color: darken($alert, 20%);
		opacity: .4;
	}

	&::-moz-placeholder {
		color: darken($alert, 20%);
		opacity: .4;
	}
	&:-ms-input-placeholder {
		color: darken($alert, 20%);
		opacity: .4;
	}
	
	&:hover {
		@extend .ds-1;
	}
}





// CUSTOM TEXT
.yuko input, .yuko input:focus, .yuko label {
	border: none !important;
	box-shadow: none !important;
	-webkit-transition: -webkit-transform 0.2s;
	transition: all 0.2s ease-in-out;
	color: #2199e8;
}

.yuko {
	@extend .btb-4;
	@extend .mt-1;
	input {
		margin: 0px !important;
		index: 1 !important;
		&:focus {
			height: 45px !important;
		}
	}

	label{
		position: relative;
		height: 0px;
		top: -30px;
		pointer-events: none;
	}
}

.yuko input:focus + label {
	top: -72px;
}