// MARGINS
// ---------------------------------------------------------------------------------
// top margin
// SAMPLE OUTPUT: 
// .mt-1 { margin-top: 0 ; }
$class-margin-top: mt- !default;	//class name
@for $i from $min-margin through $max-margin {
	.#{$class-margin-top}#{$i}{	//class name + variable 
		margin-top: #{$i}rem !important;
	}
}

// left margin
// SAMPLE OUTPUT: 
// .ml-1 { margin-left: 0 ; }
$class-margin-left: ml- !default;	//class name
@for $i from $min-margin through $max-margin {
	.#{$class-margin-left}#{$i}{	//class name + variable 
		margin-left: #{$i}rem !important;
	}
}

// bottom margin
// SAMPLE OUTPUT: 
// .ml-1 { margin-bottom: 0 ; }
$class-margin-bottom: mb- !default;	//class name
@for $i from $min-margin through $max-margin {
	.#{$class-margin-bottom}#{$i}{	//class name + variable 
		margin-bottom: #{$i}rem !important;
	}
}

// right margin
// SAMPLE OUTPUT: 
// .ml-1 { margin-right: 0 ; }
$class-margin-right: mr- !default;	//class name
@for $i from $min-margin through $max-margin {
	.#{$class-margin-right}#{$i}{	//class name + variable 
		margin-right: #{$i}rem !important;
	}
}

// margin all sides
// SAMPLE OUTPUT: 
// .margin-1 { margin-right: 0 ; }
$class-margin: margin- !default;	//class name
@for $i from $min-margin through $max-margin {
	.#{$class-margin}#{$i}{	//class name + variable 
		margin: #{$i}rem !important;
	}
}
// ---------------------------------------------------------------------------------

// Half margin
.mt-half { margin-top: .5rem !important; }
.ml-half { margin-left: .5rem !important; }
.mb-half { margin-bottom: .5rem !important; }
.mr-half { margin-right: .5rem !important; }
.margin-half{ @extend .mt-half; @extend .mb-half; @extend .ml-half; @extend .mr-half; }
