.custom-side-nav
{
	background-color: #222;
	position: fixed;
	height: 100%;
}

.custom-side-nav {
	ul {
		li {
			border-bottom: solid 1px #1f1f1f;
			-webkit-transition: background-color .2s, color .2s; /* Safari */ 
			transition: background-color .2s color .2s;
			
			&:hover {
				background-color:#1f1f1f;
			}
			
			a {
				color: #ccc;
				&:hover {
					color: #fff;
				}
			}
		}		
	}
}

ul.custom-side-subnav {
	background-color: #1f1f1f !important;
	li {
		background-color: #1f1f1f !important;
		
		&:hover {
			background-color: #181818 !important;
		}
	}
}

ul.custom-side-subnav {
	background-color: #181818 !important;
	li.custom-side-3rdnav {
		background-color: #181818 !important;
		
		&:hover {
			background-color: #151515 !important;
		}
	}
}

.custom {
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;

	img {
			width: 30%;
		}
}

#styleguide-navigation.columns  {
	padding: 0px;
}