.custom-side-nav
{
	// background-color: #222;
	position: fixed;
	height: 100%;
	// @extend .ds-1;
}

.custom-side-nav {
	ul {
		li {
			// border-bottom: solid 1px #1f1f1f;
			-webkit-transition: background-color .2s, color .2s; /* Safari */ 
			transition: background-color .2s color .2s;
			
			&:hover {
				background-color:#f0f0f0;
			}
			
			a {
				color: #000;
				&:hover {
					color: #000;
				}
			}
		}		
	}
}

ul.custom-side-subnav {
	// background-color: #1f1f1f !important;
	@extend .ml-half;
	// @extend .pl-1;
	li {
		// background-color: #1f1f1f !important;
		border-bottom: 1px solid #e3e3e3;
		&:hover {
			// background-color: #f5f5f5 !important;
			// color: rgb(255,255,0) !important;
			// @extend .txt-primary;
			// color: #fff;
			a{
			@extend .txt-primary;				
			}
		}
	}
}

ul.custom-side-subnav {
	// background-color: #181818 !important;
	li.custom-side-3rdnav {
		// background-color: #181818 !important;
		
		&:hover {
			// background-color: #151515 !important;
		}
	}
}

.custom {
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;

	img {
			width: 30%;
		}
}

#styleguide-navigation.columns  {
	padding: 0px;
}