// MARGINS
// ---------------------------------------------------------------------------------
// top padding
// SAMPLE OUTPUT: 
// .mt-1 { padding-top: 0 ; }
$class-padding-top: pt- !default;	//class name
@for $i from $min-padding through $max-padding {
	.#{$class-padding-top}#{$i}{	//class name + variable 	
		padding-top: #{$i}rem;
	}
}

// left padding
// SAMPLE OUTPUT: 
// .ml-1 { padding-left: 0 ; }
$class-padding-left: pl- !default;	//class name
@for $i from $min-padding through $max-padding {
	.#{$class-padding-left}#{$i}{	//class name + variable 
		padding-left: #{$i}rem;
	}
}

// bottom padding
// SAMPLE OUTPUT: 
// .ml-1 { padding-bottom: 0 ; }
$class-padding-bottom: pb- !default;	//class name
@for $i from $min-padding through $max-padding {
	.#{$class-padding-bottom}#{$i}{	//class name + variable 
		padding-bottom: #{$i}rem;
	}
}

// right padding
// SAMPLE OUTPUT: 
// .ml-1 { padding-right: 0 ; }
$class-padding-right: pr- !default;	//class name
@for $i from $min-padding through $max-padding {
	.#{$class-padding-right}#{$i}{	//class name + variable 
		padding-right: #{$i}rem;
	}
}

// padding all sides
// SAMPLE OUTPUT: 
// .ml-1 { padding-right: 0 ; }
$class-padding: padding- !default;	//class name
@for $i from $min-padding through $max-padding {
	.#{$class-padding}#{$i}{	//class name + variable 
		padding: #{$i}rem;
	}
}
// ---------------------------------------------------------------------------------

// Half padding
.pt-half { padding-top: .5rem !important; }
.pl-half { padding-left: .5rem !important; }
.pb-half { padding-bottom: .5rem !important; }
.pr-half { padding-right: .5rem !important; }
.padding-half{ @extend .pt-half; @extend .pb-half; @extend .pl-half; @extend .pr-half; }