// MARGINS
// ---------------------------------------------------------------------------------
// OUTPUT: 
// .pt-1 { padding-top: 0 ; }
// .pl-1 { padding-left: 0 ; }
// .pr-1 { padding-right: 0 ; }
// .ptb1 { padding-bottom: 0 ; }

// class prefix 
$class-pad-top: pt- !default;
$class-pad-left: pl- !default;
$class-pad-bottom: pb- !default;
$class-pad-right: pr- !default;
$class-pad: padding- !default;

// class creation
@for $i from $min-pad through $max-pad { //for $min-padding & $max-padding value please refer to _variables.scss
	.#{$class-pad-top}#{$i} { padding-top: #{$i}rem; }
	.#{$class-pad-left}#{$i} { padding-left: #{$i}rem; }
	.#{$class-pad-bottom}#{$i} { padding-bottom: #{$i}rem; }
	.#{$class-pad-right}#{$i} { padding-right: #{$i}rem; }
	.#{$class-pad}#{$i} { padding: #{$i}rem; }
}


// Custom Padding
// ---------------------------------------------------------------------------------
// INPUT ($class, $value,$side)
// $class - name of the output class.
// $value - amout of radius (e.g. 5px)
// $side -  w/c side of the element will appear. Use -top, -bottom, -left, -right or leave blank to apply all sides.
$custom-padding:
	(pt-half,.5rem,-top),
	(pt-1half,1.5rem,-top),
	(pt-2half,2.5rem,-top),
	(pb-half,.5rem,-bottom),
	(pb-1half,1.5rem,-bottom),
	(pb-2half,2.5rem,-bottom),
	(pl-half,.5rem,-left),
	(pl-1half,1.5rem,-left),
	(pl-2half,2.5rem,-left),
	(pr-half,.5rem,-right),
	(pr-1half,1.5rem,-right),
	(pr-2half,2.5rem,-right);

@each $class, $val, $side in $custom-padding {
	.#{$class} { padding#{$side}: $val; }
}




.btn-1 {
    border: 3px solid #000;
    color: #000;
}


.btns {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1e {
	// overflow: hidden;
	// border: 10px solid #323232;
}

.btn-1e:after {
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #000;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}




.btn-1e:hover,
.btn-1e:active {
	color: #0e83cd;
}

.btn-1e:hover:after {
	height: 260%;
	opacity: 1;
}

.btn-1e:active:after {
	height: 400%;
	opacity: 1;
}


