

.typo-tooltip {
	border: 0px;
	font-weight: normal;
}

#typo-primary 
	{
		font-family: "Open Sans" !important;
		h1, h2, h3 ,h4 ,h5 ,h6 {
			font-family: "Open Sans" !important;
			font-weight: 600;
		}
	}

#typo-secondary 
	{
		font-family: "Roboto" !important;
		h1, h2, h3 ,h4 ,h5 ,h6 {
			font-family: "Roboto" !important;
			font-weight: 600;
		}
	}

#typo-secondary, #typo-primary
	{
		h1 {
			font-size: 36px;
		}

		h2 {
			font-size: 30px;
		}

		h3 {
			font-size: 24px;
		}

		h4 {
			font-size: 18px;
		}

		h5 {
			font-size: 14px;
		}

		h6 {
			font-size: 12px;
		}
}

.typo-title {

	span
	{
		&.font-style1 {
		font-size: 25px;
		font-weight: bolder;
		}
		&.font-style2
		{
			font-size: 120px;
			font-weight: bolder;
		}
	}
} 

.regular1
	{
		font-size: 25px;
		font-weight: regular;
	}

.regular
	{
		font-size: 17px;
		font-weight: regular;
	}

.light
	{
		font-size: 17px;
		font-weight: 300;
	}

.italic
	{
		font-size: 17px;
		font-weight: regular;
		font-style: italic;
	}

.semibold
	{
		font-size: 17px;
		font-weight: 600;
	}

.bold
	{
		font-size: 17px;
		font-weight: bold;
	}

.extrabold
	{
		font-size: 17px;
		font-weight: 800;
	}

