#typo-opensans 
	{
		font-family: Open Sans;
	}


#typo-roboto
	{
		font-family: Roboto;
	}

.typo-title span.font-style1
	{
		font-size: 25px;
		font-weight: bolder;
	}

.typo-title span.font-style2
	{
		font-size: 120px;
		font-weight: bolder;
	}

.typo-section span.regular1
	{
		font-size: 25px;
		font-weight: regular;
	}

.typo-section span.regular
	{
		font-size: 17px;
		font-weight: regular;
	}

.typo-section span.light
	{
		font-size: 17px;
		font-weight: 300;
	}

.typo-section span.italic
	{
		font-size: 17px;
		font-weight: regular;
		font-style: italic;
	}

.typo-section span.semibold
	{
		font-size: 17px;
		font-weight: 600;
	}

.typo-section span.bold
	{
		font-size: 17px;
		font-weight: bold;
	}

.typo-section span.extrabold
	{
		font-size: 17px;
		font-weight: 800;
	}

.typo-headers span.h1
	{
		font-size: 36px;
		font-weight: 600;
	}

.typo-headers span.h2
	{
		font-size: 30px;
		font-weight: 600;
	}

.typo-headers span.h3
	{
		font-size: 24px;
		font-weight: 600;
	}

.typo-headers span.h4
	{
		font-size: 18px;
		font-weight: 600;
	}

.typo-headers span.h5
	{
		font-size: 14px;
		font-weight: 600;
	}

.typo-headers span.h6
	{
		font-size: 12px;
		font-weight: 600;
	}